/* Estilo geral */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f9fafb;
  min-height: 100vh;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
}

.input {
  margin: 10px 0;
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  width: 200px;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #007bff;
  outline: none;
}

.file-input {
  margin-top: 10px;
}

button {
  margin-top: 15px;
  padding: 12px 25px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
}

button:disabled {
  background-color: #b0c4de;
  cursor: not-allowed;
}

.qr-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.qr-item {
  margin: 10px;
  text-align: center;
}

.qr-item:hover {
  transform: translateY(-5px);
}

.qr-text {
  margin-top: 8px;
  font-size: 14px;
  color: #333;
}

.qr-download {
  margin-top: 8px;
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.qr-download:hover {
  background-color: #0056b3;
}

.title {
  text-align: center;
  font-family: 'Arial', sans-serif; /* Fonte limpa e moderna */
  font-size: 2rem; /* Tamanho confortável */
  color: #4a90e2; /* Cor azul agradável */
  font-weight: bold; /* Texto em negrito */
  margin-bottom: 20px; /* Espaçamento abaixo do título */
}
